<footer id="footer" class="footer">
	<div id="footer-wrapper" class="footer-wrapper">
		<p class="common-text footer-privacy" id="footer-wrapper-privacy">{footerBar.copyright}</p>
		<br />
		<p class="common-text footer-credits" id="footer-wrapper-credits">Blog software created with 💙 by <a class="common-text footer-credits-link" id="footer-wrapper-credits-link" href="https://www.enricosola.com" target="_blank" title="Visit creator's website.">Enrico Sola</a>.</p>
		<p class="common-text footer-download" id="footer-wrapper-download">Are you interested in this open source software? Download it from <a>GitHub</a>.</p>
	</div>
</footer>