<meta charset="UTF-8" />
<meta name="keywords" content="{meta.keywords}" />
<meta name="description" content="{meta.description}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="subject" content="{meta.subject}" />
<meta name="copyright" content="{meta.copyright}" />
<meta name="language" content="{meta.language}" />
<meta name="author" content="{meta.author}" />
<meta name="designer" content="{meta.designer}" />
<meta name="reply-to" content="{meta.replyTo}" />
<meta name="owner" content="{meta.owner}" />
<meta name="url" content="{meta.url}" />
<meta name="identifier-URL" content="{meta.url}" />
<meta name="coverage" content="Worldwide" />
<meta name="distribution" content="Global" />
<meta name="rating" content="General" />
<meta name="revisit-after" content="7 days" />
<meta name="target" content="all" />
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="pagename" content="{meta.siteName}" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1.0" />
<meta name="robots" content="index, follow" />
<meta property="og:title" content="{meta.title}" />
<meta property="og:description" content="{meta.description}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.shutter.cam" />
<meta property="og:locale" content="{meta.language}" />
<meta property="og:site_name" content="{meta.siteName}" />
<meta property="og:image" content="{meta.image}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{meta.websiteTwitterNickname}" />
<meta name="twitter:creator" content="{meta.creatorTwitterNickname}" />
<meta name="twitter:title" content="{meta.title}" />
<meta name="twitter:description" content="{meta.description}" />
<meta name="twitter:image" content="{meta.image}" />
<meta name="twitter:image:alt" content="{meta.title}" />
<meta name="google-site-verification" content="{meta.verification.google}" />
<meta name="yandex-verification" content="{meta.verification.yandex}" />
<meta name="msvalidate.01" content="{meta.verification.bing}" />
<meta name="norton-safeweb-site-verification" content="{meta.verification.norton}" />
<title>{meta.title}</title>
<link rel="alternate" href="" hreflang="{meta.language}" />
<link rel="alternate" href="" hreflang="x-default" />
<link rel="canonical" href="{meta.url}" />
<link rel="sitemap" type="text/xml" title="Sitemap" href="/sitemap.xml" />
{meta.csrfToken}